@{ ViewBag.Title = "Request Form"; }

<h2>Request</h2>

<div class="container">

    <form action="" method="post" onsubmit="return ValidateForm();">
        <div class="col-lg-6">

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-label">Enter Yout Message</div>
                    <textarea class="fullwidth form-control" id="interest" name="message" style="height:100px;"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="pad-6"></div>
                    <div class="alert alert-danger" style="display:none;" id="jregisteralert"></div>
                    <div class="pad-6"></div>
                    <input class="btn btn-primary btn-lg" type="submit" name="userRequest" value="Send Request" />
                </div>
            </div>
        </div>

    </form>
</div>
